{% extends "base.njk" %}
{% import "utils.jinja" as utils %}

{% block title %}
  Thank you for your reservation
{% endblock %}

{% block description %}
  Is it you we're looking for?
{% endblock %}

{% block action %}
 Please confirm your reservation by clicking the button below:
{% endblock %}

{% block cta %}
   {{ utils.button("Confirm Reservation", ctaUrl) }}
{% endblock %}

{% block ps %}
  If you didn't register for the Event, you can safely ignore this email.
{% endblock %}

{% block salutation %}
  Thanks, <br>The Circle CI Team</p>
{% endblock %}
