{% extends "base.njk" %}

{% block title %}
  Danny wants you to join 
{% endblock %}

{% block description %}
  Robert Weed's organization on Glyphx
{% endblock %}

{% block action %}
 Please confirm your invite by clicking the button below:
{% endblock %}

{% block cta %}
  Confirm INvite
{% endblock %}

{% block ps %}
  If this isn't meant for you, you can safely ignore this email.
{% endblock %}

{% block salutation %}
  Thanks, <br>The Synglyphx Team</p>
{% endblock %}
