# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
/coverage
*.auth
# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pnpm-debug.log

# Local ENV files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Vercel
.vercel

# Turborepo
.turbo

# test data for integration tests
testData


#code coverage output
.nyc_output
.nyc_output/processinfo

#vim session file
Session.vim

**/*.pnpm-debug.log
.pnpm-debug.log

#rust target directory
target
crates/cube_model/pkg
output.log

#artifacts from logging tests
Foo.bar

# exclude rust binary
# **/index.node
packages/codegen/src/output
**/glyph_engine.node
**/test_data/*
