@tailwind base;
@tailwind components;
@tailwind utilities;

div[class='react-grid-HeaderCell'] {
  @apply bg-primary-dark-blue text-white border-none py-0 px-1 rounded text-center;
}
div[class='react-grid-Header'] {
  @apply bg-transparent shadow-none;
}
div[class='react-grid-Container'] {
  @apply bg-primary-dark-blue text-white rounded text-center;
}
div[class='react-grid-Canvas'] {
  @apply bg-primary-dark-blue text-white rounded w-full p-0 h-screen text-center;
}
div[class='react-grid-Viewport'] {
  @apply bg-primary-dark-blue p-0 h-screen text-center;
}

div[class='react-grid-Container'] > div > div > div:nth-child(2) > div > div > div:nth-child(2) {
  @apply h-[600px];
}
div[class='react-grid-Cell'] {
  @apply bg-primary-dark-blue first:bg-secondary-deep-blue;
}
div[class='react-grid-Grid'] {
  @apply bg-primary-dark-blue border border-none text-white outline-none rounded text-center;
}
div[class='rdg-selected'] {
  @apply border border-secondary-blue text-white rounded text-center;
}

div[data-type='number'] {
  @apply bg-cyan text-white rounded text-center;
}
div[data-type='string'] {
  @apply bg-blue text-white rounded text-center;
}
div[data-type='0'] {
  @apply bg-cyan text-white rounded text-center;
}
div[data-type='1'] {
  @apply bg-blue text-white rounded text-center;
}

div div[role='columnheader'] {
  @apply bg-secondary-dark-blue first:bg-secondary-dark-blue;
}

div[role='grid'] {
  @apply bg-primary-dark-blue overflow-scroll flex-col flex-grow scrollbar-thin scrollbar-thumb-yellow scrollbar-thumb-rounded-full;
}

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

/* FOR REMOVING AUTO INCREMENT BUTTONS ON NUMBER INPUT TYPE */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

div[role='grid']::-webkit-scrollbar-thumb {
  background: rgba(255, 197, 0, 0.5);
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 197, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  /* background: rgb(235, 202, 17); */
  background: rgba(255, 197, 0, 0.5);
}

div[role='row'] {
  @apply text-white bg-secondary-deep-blue;
}

div[role='gridcell'] {
  @apply bg-primary-dark-blue first:bg-secondary-deep-blue text-white font-roboto text-right text-[10px] font-normal leading-[12px] pt-1 pr-1;
}

.c1wupbe700-beta13[aria-selected='true'] {
  border: 1px solid rgb(235, 202, 17);
  outline: none;
  /* background-color: rgb(17, 235, 93); */
}

/* FOR SUSPENSE LOADER */
div[aria-colindex='1'] {
  @apply bg-secondary-dark-blue;
}
