@tailwind base;
@tailwind components;
@tailwind utilities; 

.h1 {
  @apply text-4xl font-extrabold tracking-tighter;
}

.h2 {
  @apply text-3xl font-extrabold tracking-tighter;
}

.h3 {
  @apply text-3xl font-extrabold;
}

.h4 {
  @apply text-2xl font-extrabold tracking-tight;
}

@screen md {
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-4xl;
  }
}

.btn,
.btn-lg,
.btn-sm,
.btn-xs {
  @apply font-medium text-sm inline-flex items-center justify-center border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out;
}

.btn {
  @apply px-3 py-2;
}

.btn-lg {
  @apply px-4 py-3;
}

.btn-sm {
  @apply px-2 py-1;
}

.btn-xs {
  @apply px-2 py-0.5;
}

div div[role="columnheader"] {
  @apply border-l border-b border-gray bg-secondary-dark-blue;
}

div[role="grid"] {
  @apply bg-primary-dark-blue overflow-scroll flex-col flex-grow scrollbar-thin scrollbar-thumb-yellow scrollbar-thumb-rounded-full;
}
::-webkit-scrollbar {
  width: 10px;
}

div[role="grid"]::-webkit-scrollbar-thumb {
  background: rgb(253, 229, 8);
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: rgb(253, 229, 8);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 202, 17);
}

div[role="row"] {
  @apply text-white bg-secondary-deep-blue;
}

div[role="gridcell"] {
  @apply bg-primary-dark-blue text-white font-roboto text-right text-[10px] font-normal leading-[12px] pt-1 pr-1;
  /* @apply bg-[#354773] text-white; */
}

/* .c1wupbe700-beta13[aria-colindex = '1'] {
  @apply w-[16px]
}
div[role="columnheader"].c1wupbe700-beta13[aria-colindex = '1']{
  @apply min-w-[16px] !important
} */

.c1wupbe700-beta13[aria-selected="true"]{
  border:1px solid rgb(235, 202, 17);
  outline: none;
  /* background-color: rgb(17, 235, 93); */
}

div[aria-colindex="1"] {
  @apply bg-secondary-dark-blue;
}

div[formattype="string"] {
  @apply bg-sky-300 text-black rounded-2xl text-center w-32;
}
div[formattype="number"] {
  @apply bg-green-400 text-black rounded-2xl text-center w-32;
}
div[datatype="string"] {
  @apply bg-sky-300 text-black rounded-2xl text-center;
}
div[datatype="number"] {
  @apply bg-green-400 text-black rounded-2xl text-center;
}

.Resizer {
  background: rgb(253, 229, 8);
  opacity: 1;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 0s ease;
}

.Resizer.horizontal {
  height: 2px;
  margin: -5px 0;
  border-top: 0px solid rgb(253, 229, 8);
  border-bottom: 0px solid rgb(253, 229, 8);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 2px solid rgb(235, 202, 17);
  border-bottom: 2px solid rgb(235, 202, 17);
}

.Resizer.vertical {
  width: 2px;
  margin: 0 -5px;
  border-left: 0px solid rgb(253, 229, 8);
  border-right: 0px solid rgb(253, 229, 8);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 2px solid rgb(235, 202, 17);
  border-right: 2px solid rgb(235, 202, 17);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}